@tailwind base;
@tailwind components;
@tailwind utilities;

/* .grid-container {
  display: inline-grid;
  gap: 20rem 0rem;
  grid-template: auto / repeat(3, 1fr);
} */

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html {
  background: #202123;
}

@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.codeblock) {
  padding: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.item-wide {
  flex: 2;
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
}
.item {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
}

/* Make the purple background fade out  */
.course-page-main {
  /* height: 400px;     */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#2e026d),
    to(#020307),
    color-stop(0.75, #15162c)
  );
  background-color: #020307;
  background-size: 100% 45%, 0%;
  background-repeat: no-repeat;
}

.fade {
  overflow: hidden;
  position: relative;
  height: 6.1em; /* exactly three lines */
}
.fade::after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #0e1116 80%);
}

/* Standard list properties. Didn't work before manually adding this. */
ul {
  list-style-type: disc;
  padding-left: 20px;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}